body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden; 
}
/* background */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.snow{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: snow 10s linear infinite;
    top: 0px;

}
.snowman {
    width: auto;
    height: 50%;
    position: absolute;
    top: 45%;
    margin-left: 30px;
    z-index: 1;
}

/* card style and content */
.card {
    width: 60%;
    max-width: 600px;
    height: 400px;
    background-color: rgba(179, 200, 245, 0.8); 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    top: 10%;
}

.card h1 {
    text-align: center;
    margin-top: 30px;
    color: #e06e6e;
    text-shadow: 0 0 10px rgba(224, 110, 110, 0.8);
}

.santa {
    width: 30%;
    max-width: 200px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}

.santa:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.content {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
}

.wish {
    font-size: 16px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    color: #555;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(224, 110, 110, 0.3);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.wish:focus {
    outline: none;
    border-color: #d25757;
    box-shadow: 0 0 15px rgba(224, 110, 110, 0.5);
}

button {
    padding: 10px 20px;
    background-color: #e06e6e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d25757;
}

/* snow */
#snowfall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.snowflake {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0.8;
    animation: snowfall linear infinite, fadeInOut 5s linear infinite;
}

@keyframes snowfall {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(100vh) translateX(300px);
    }
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
